<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find kinematics)/urdf/irb2400.xacro'"/>
    <!--<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>-->  
    <node name="inverse_irb2400" pkg="kinematics" type="inverse_irb2400.py" output="screen"/>
    <!--<node name="fk_kr6" pkg="kinematics" type="fk_kr6.py" output="screen"/>-->  
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kinematics)/rviz.rviz" required="true"/>
</launch>
